<div class="row top-margin">
  <div class="title fifth">
    <h1>How to install</h1>
  </div>
  <div class="description-container">
    <div class="description">
      <ol class="pretty-list large">
        <li>
          <a href="_download<%= "?r=#{params[:r]}" if params[:r].present? %>" class="button success download-button">Download for OS X</a>
          <span class="spaced-or">or</span>
          <a href="http://eepurl.com/bBhx2T" target="_blank" class="button platform-newsletter-button">Sorry, I don't have a Mac</a>
          <span class="tiny-text">
            <br>
            By downloading you agree to some standard
              <a><label for="terms-and-conditions-modal">legalese</label></a>.
          </span>
        </li>
        <li class="top-margin-lg">
          Open the Compute for Humanity app.
          <%= image_tag "install-opening-screenshot.png", class: "screenshot installing-screenshot-1" %>
        </li>
        <li class="top-margin-lg">
          Click the button in the popup to move it to your Applications folder.
          <%= image_tag "install-moving-screenshot.png", class: "screenshot installing-screenshot-2" %>
        </li>
        <li class="top-margin-lg">
          You should see the Compute for Humanity logo
          ( <%= image_tag "h-static@128.gif", class: "inline-logo" %> )
          in the menu bar at the top of your screen.
          <%= image_tag "installed-screenshot.png", class: "screenshot installed-screenshot" %>
        </li>
      </ol>
      <p class="top-margin-lg">
        <span class="highlight">That's it!</span> Pat yourself on the
        back, friend. You're now computing for humanity!
      </p>
      <p>
        Remember, the more people who use Compute for Humanity, the more money
        we can raise for charity together. So let all your friends know how cool
        you are and spread the word! A quick
        <a href="https://twitter.com/intent/tweet?text=I%20just%20took%20ten%20seconds%20and%20made%20a%20difference.&url=http%3A%2F%2Fwww.computeforhumanity.org&hashtags=ComputeForHumanity&via=Jake_Evelyn&related=Give_Directly,watsi,GlobalGiving,PencilsOfPromis" target="_blank">tweet</a>
        or <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.computeforhumanity.org" target="_blank">Facebook post</a>
        goes a long way!
      </p>
    </div>
  </div>
</div>

<div class="modal">
  <input id="terms-and-conditions-modal" type="checkbox" />
  <label for="terms-and-conditions-modal" class="overlay"></label>
  <article>
    <header>
      <h3>Legalese</h3>
      <label for="mining-modal" class="close">&times;</label>
    </header>
    <section class="content">
      This program is released under the
      <a href="https://www.gnu.org/licenses/gpl.txt" target="_blank">GNU General Public License Version 3</a>.
      That's it.
    </section>
    <footer>
      <label for="terms-and-conditions-modal" class="button modal-button">
        Got it!
      </label>
    </footer>
  </article>
</div>
