<div class="row top-margin">
  <div class="title fifth">
    <h1>Donations</h1>
  </div>
  <div class="description-container">
    <div class="description">
      <table class="donation-table">
        <thead class="success">
          <tr>
            <th>Date</th>
            <th>Amount Donated</th>
            <th>Charity</th>
            <th>Transaction Fee</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <%- @donations.each do |donation| %>
            <tr>
              <td><%= donation.created_at.strftime("%b %-d, %Y") %></td>
              <td>$<%= donation.donated_usd.to_s %></td>
              <td><%= donation.charity_name %></td>
              <td>$<%= donation.fee_usd.to_s %></td>
              <td><%= donation.status.try(:capitalize) || "Pending" %></td>
            </tr>
          <%- end %>
        </tbody>
      </table>
      <p>
        Donations are made with money received in exchange for bitcoins (see
        exchange history below).
      </p>
    </div>
  </div>
</div>
<div class="row top-margin-lg">
  <div class="title fifth">
    <h1>Exchanges</h1>
  </div>
  <div class="description-container">
    <div class="description">
      <table class="exchange-table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Bitcoins Traded</th>
            <th>Dollars Received</th>
            <th>Transaction Fee</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <%- @exchanges.each do |exchange| %>
            <tr>
              <td><%= exchange.created_at.strftime("%b %-d, %Y") %></td>
              <td><%= exchange.initial_btc.to_s %> BTC</td>
              <td>$<%= exchange.exchanged_usd.to_s %></td>
              <td>$<%= exchange.fee_usd.to_s %></td>
              <td><%= exchange.complete ? "Complete" : "Pending" %></td>
            </tr>
          <%- end %>
        </tbody>
      </table>
      <p>
        Exchanges are made with bitcoins paid out by
        <a href="https://www.nicehash.com/" target="_blank">NiceHash</a>
        from work done by the Compute for Humanity program. See the recent
        payout history and unpaid balance
        <a href="https://www.nicehash.com/index.jsp?p=miners&addr=12CbZWfSB5TESmFwiYs4WJRZtJyi9hBPNz&a=8&l=1" target="_blank">here</a>.
      </p>
      <p class="tiny-text">
        Note: Some exchanges list a transaction fee. We have switched to using
        <a href="https://www.circle.com/" target="_blank">Circle</a> so future
        transactions will have no fee.
      </p>
    </div>
  </div>
</div>
<div class="row top-margin-lg">
  <div class="title fifth"></div>
  <div class="description-container">
    <div class="description">
      Note: <span class="underlined">All</span> development and server costs are
      paid <span class="highlight">out-of-pocket</span> by this
      project's creator. Money earned by your computer goes straight to charity,
      where it belongs.
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).on("page:change", function() {
    setTimeout(function() {
      var $tables = $("tbody");

      $tables.scrollTop(999999999);
      $tables.animate({ scrollTop: 0 }, 1000);
    }, 2500);
  });
</script>
