<div class="row top-margin">
  <div class="title fifth">
    <h1>What it is</h1>
  </div>
  <div class="description-container">
    <div class="description">
      Compute for Humanity is a small application that uses your computer's
      spare processing power to <span class="highlight">raise money for
      charity</span>. It's designed to be
      <span class="highlight">highly energy-efficient</span> and
      gentle to your computer. You won't even notice it's running!
      <p>
        It works by occasionally doing little bits of math to generate small
        amounts of cryptocurrencies (similar to Bitcoin), which are then
        exchanged for US dollars and donated to good causes.
      </p>
      <p>
        Just install the program and voilà!
        <span class="highlight">You're helping the world!</span>
        No registration, no price tag, no hoops to jump through. (And no, it
        <%= link_to "won't", :details %> drive up your electricity bill.)
        It's safe, unobtrusive, and fun!
        <%= link_to "Let's get started!", :download, class: "button big-button right warning" %>
      </p>
    </div>
  </div>
</div>
<div class="row top-margin-lg">
  <div class="title fifth"></div>
  <div class="description-container">
    <div class="description centered">
      As featured in
      <%= image_tag "BetaBoston-logo.svg", class: "betaboston-logo" %>
    </div>
  </div>
</div>
<div class="row top-margin-lg">
  <div class="title fifth">
    <h1>Why it's great</h1>
  </div>
  <div class="description-container">
    <div class="description">
      <ol class="pretty-list large">
        <li>
          You're raising money for charity without doing a thing!
          <%= link_to "Learn more", :details, class: "button home-button right" %>
        </li>
        <li class="top-margin-lg">
          100% of the money you raise is donated to charities.*
          <%= link_to "See financials", :financials, class: "button home-button right" %>
        </li>
        <li class="top-margin-lg">
          All code (including the code for this website!) is open source.
          <a href="https://github.com/ComputeForHumanity" target="_blank" class="button home-button right">See the code</a>
        </li>
      </ol>
      <div class="tiny-text top-margin-lg">* Except for transaction fees, which
        we jump through hoops to keep to an
        <span class="underlined">absolute</span>
        <span class="underlined">minimum</span>.</div>
    </div>
  </div>
</div>
<div class="row top-margin-lg">
  <div class="title fifth"><h1>Screenshots</h1></div>
  <div class="description-container">
    <div class="description">
      <div class="row">
        <div class="half">
          <%= image_tag "menu-screenshot.png", class: "centered-image" %>
        </div>
        <div class="half">
          <%= image_tag "special-surprise-screenshot.png", class: "centered-image" %>
          <p class="centered"></p>
        </div>
      </div>
      <div class="row">
        <div class="half centered">
          It's just a tiny icon at the top of your screen. Earn 💖s over time
          and donate them to your favorite charities!
        </div>
        <div class="half centered">
          Accomplish enough 🏆s and you can get a surprise in the mail. (Only
          if you want it, of course. But why wouldn't you?)
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row top-margin-lg">
  <div class="title fifth"></div>
  <div class="description-container">
    <div class="description centered">
      And it's even easy to uninstall if you don't like it. So try it out and
      make the world a better place:
      <%= link_to "Download", :download, class: "button warning" %>
    </div>
  </div>
</div>
