<div class="row top-margin">
  <div class="title fifth"></div>
  <div class="description-container centered middle-aligned">
    As featured in:
    <%= image_tag "BetaBoston-logo.svg", class: "press-logo betaboston-logo" %>
    <%= image_tag "TGDaily-logo.png", class: "press-logo tgdaily-logo" %>
  </div>
</div>
<div class="row top-margin-tiny">
  <div class="title fifth">
    <h1>What it is</h1>
  </div>
  <div class="description-container">
    <div class="description">
      <h1 class="centered">Save the world from your sofa.</h3>
      <div class="row">
        <div class="half">
          <h4 class="centered highlight">Your computer generates <span class="emoji">💰</span></h4>
          <ul>
            <li>Compute for Humanity uses your computer's spare processing power
              to do little bits of math
              that earn it fractions of pennies.</li>
            <li>It's unobtrusive and
              <strong class="italic">super efficient</strong>—you
              won't even notice it's running!</li>
            <li>It <strong><%= link_to "won't impact", :details %></strong> your
              computer's performance or battery life or your electricity bill.</li>
          </ol>
        </div>
        <div class="half">
          <h4 class="centered highlight">The <span class="emoji">💰</span> goes to charity</h4>
          <ul>
            <li>Just select which charity you want your computer to support.</li>
            <li>100% of the money goes to charity.
              <strong>We pocket <span class="underlined">none</span>.</strong></li>
            <li>Recruit friends to earn the
              <strong><%= link_to "special surprise", "#screenshots" %></strong>!</li>
          </ol>
          <%= link_to "Get it now!", :download, class: "button big-button right warning" %>
        </div>
      </div>
      <div class="centered"><span class="underlined">No</span> price tag.
        <span class="underlined">No</span> registration.
        <span class="underlined">No</span> tricky installation process.
        <span class="underlined">No</span> hoops to jump through.</div>
    </div>
  </div>
</div>
<div class="row top-margin-tiny quote-row">
  <div class="fifth"></div>
  <div class="centered quote-container"><span class="mark left">“</span><span class="quote italic">Maybe the
    easiest way to help the world, it costs nothing, and it’s pretty fun to
    boot.</span><span class="mark">”</span> <span class="attribution">—TG Daily Staff</span></div>
</div>
<div class="row top-margin-lg">
  <div class="title fifth">
    <h1>Why it's great</h1>
  </div>
  <div class="description-container">
    <div class="description">
      <ol class="pretty-list large">
        <li>
          You're raising money for charity without doing a thing!
          <%= link_to "Learn more", :details, class: "button home-button right" %>
        </li>
        <li class="top-margin-lg">
          100% of the money you raise is donated to charities.
          <%= link_to "See financials", :financials, class: "button home-button right" %>
        </li>
        <li class="top-margin-lg">
          All code (including the code for this website!) is open source.
          <a href="https://github.com/ComputeForHumanity" target="_blank" class="button home-button right">See the code</a>
        </li>
      </ol>
    </div>
  </div>
</div>
<a name="screenshots"></a>
<div class="row top-margin-lg">
  <div class="title fifth"><h1>How it looks</h1></div>
  <div class="description-container">
    <div class="description">
      <div class="row">
        <div class="half">
          <%= image_tag "menu-screenshot.png", class: "centered-image" %>
        </div>
        <div class="half">
          <%= image_tag "special-surprise-screenshot.png", class: "centered-image" %>
          <p class="centered"></p>
        </div>
      </div>
      <div class="row">
        <div class="half centered">
          It's just a tiny icon at the top of your screen. Earn 💖s over time
          and donate them to support your favorite charities!
        </div>
        <div class="half centered">
          Accomplish enough 🏆s and you can get a surprise in the mail. (Only
          if you want to, of course. But why wouldn't you?)
        </div>
      </div>
      <p class="centered">
        <br>
        So what are you waiting for?
        <%= link_to "Download", :download, class: "button warning" %> now and
        make the world a better place!
      </p>
    </div>
  </div>
</div>
