<!DOCTYPE html>
<html>
<head>
  <title>Compute for Humanity</title>
  <%= stylesheet_link_tag "http://www.picnicss.com/nut/picnic_3_4.min.css", media: "all" %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <link rel="icon" type="image/png" href="./favicon.png" />
</head>
<body>

<div class="row">
  <div class="two-fourth left-corner-container">
    <div class="left-corner">
      <div class="large-text centered"><%= @total_donated %></div>
      <div class="top-margin-tiny centered">raised for charity (so far!)</div>
      <div class="user-count-container">
        <span id="user-count"><%= @n_miners %></span>
        <span id="user-count-units">computer<%= "s" unless @n_miners == 1 %></span>
        helping right now
      </div>
    </div>
  </div>
  <div>
    <a href="/">
      <div class="logo-container">
        Compute for
        <div class="logo"></div>umanity
      </div>
    </a>
  </div>
  <div class="fourth"></div>
</div>
<%= yield %>

</body>
</html>
